*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1100px;
    margin: auto;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 5vh 0;
}
header ul, footer ul{
    display: flex;
    list-style: none;
}
header ul li:first-of-type, footer ul li:first-of-type{
    padding-right: 30px;
}
header ul li a, footer ul li a{
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #111111;
}
.hello{
    display: grid;
    grid-template-columns: 6fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 5vh 0 15vh 0;
}
.hello a{
    text-decoration: none;
    color: #4A4FF2;
}
.hello > a{
    font-family: Mulish;
    font-size: 22px;
    font-weight: 700;
}
h1{
    font-family: Mulish;
    font-weight: bold;
    font-size: 40px;
    color: #111111;
}
.hello h1{
    grid-column: 1/2;
    grid-row: 2/4;
}
.hello h1 a{
    font-family: Mulish;
    font-weight: bold;
    font-size: 40px;
}
.hello > p{
    position: relative;
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    font-family: Mulish;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    color: #111111;
    opacity: 0.5;
}
.hello > p:before{
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    background-color: #111111;
    opacity: 0.5;
    top: -10px;
}
.gallery{
    column-count: auto;
	column-width: 350px;
    column-gap: 20px;
    text-align: center;
}
.gallery img{
    display: inline-block;
    padding-bottom: 15px;
    width: 100%;
} 
.service-list{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    padding: 10vh 0;
}
.service-list ul{
    list-style: none;
    font-family: Mulish;
    font-weight: normal;
    font-size: 18px;
    color: #111111;
    opacity: 0.6;
    line-height: 30px;
    align-self: center;
}
.service-list p{
    font-family: Mulish;
    font-weight: bold;
    font-size: 28px;
    color: #111111;
    width: 80%;
}
.awards{
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 1fr;
    padding-top: 5vh;
    border-top: 2px solid #D8D8D8;
}
.awards + .awards{
    border-bottom: 2px solid #D8D8D8;
}
.awards .award{
    grid-row: 1/3;
}
.awards .award{
    font-family: Mulish;
    font-weight: bold;
    font-size: 22px;
    color: #111111;
}
.awards .appointment{
    font-family: Mulish;
    font-weight: bold;
    font-size: 18px;
    color: #111111;
    justify-self: center;
}
.appointment + div > h2{
    font-family: Mulish;
    font-weight: normal;
    font-size: 16px;
    color: #111111;
    padding-bottom: 2vh;
}
.appointment + div > p{
    font-family: Mulish;
    font-weight: normal;
    line-height: 26px;
    font-size: 16px;
    color: #111111;
    opacity: 0.6;
    padding-bottom: 5vh;
}
.awards .year{
    font-family: Mulish;
    font-weight: normal;
    font-size: 16px;
    text-align: right;
    color: #111111;
}
.genital-warts{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 18vh 0;
}
.genital-warts h1, .genital-warts p{
    width: 90%;
}
.genital-warts p{
    font-family: Mulish;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #111111;
    opacity: 0.8;
    padding-top: 2vh;
}
.genital-warts table{
    grid-row: 1/4;
    grid-column: 2/3;
}
.genital-warts td{
    font-family: Mulish;
    font-weight: bold;
    font-size: 18px;
    color: #111111;
    padding: 18px 0;
    border-bottom: 1px solid #D8D8D8;
}
.genital-warts td:first-of-type{
    opacity: 0.5;
}
.yellow-ball{
    width: 100%;
    padding-top: 7vh;
    grid-column: 1/3;
}
.yellow-ball + p{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #111111;
    opacity: 0.8;
    padding: 5vh 0;
    grid-column: 1/3;
}
.three-images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3vw;
    grid-column: 1/3;
}
.three-images img{
    width: 100%;
}
.features{
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 7vh 0;
}
.features form{
    grid-row: 1/3;
    grid-column: 2/3;
}
.features > p{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #111111;
    opacity: 0.8;
}
.features > p, .features h1{
    width: 80%;
}
.features form{
    display: flex;
    flex-direction: column;
}
.features form input{
    margin-bottom: 4vh;
    border: 0px;
    border-bottom: 1px solid #D8D8D8;
    height: 37px;
}
.features form input::placeholder{
    font-family: Mulish;
    font-weight: bold;
    font-size: 16px;
    color: #111111;
    opacity: 0.6;
    padding-left: 20px;
}
.features form button{
    width: 125px;
    height: 50px;
    cursor: pointer;
    font-family: Mulish;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #4A4FF2;
    border-radius: 5px;
    border: 0;
}
iframe{
    width: 100%;
    padding: 4vh 0;
}
footer{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    padding: 5vh 0;
}
footer i{
    color: #000000;
    margin-left: 23px;
    font-size: 20px;
}
footer .social, footer nav{
    justify-self: right;
}